.node-label {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.react-flow__node-ne {
  border: 2px solid skyblue;
  background: transparent;
}

.react-flow__node-card {
  border: 2px solid lightgreen;
  background: transparent;
}

.react-flow__node-port {
  border: 2px solid lightyellow;
  background: transparent;
}

.react-flow__handle {
    width: 8px;
    height: 8px;
    background: #555;
}
