
:root {
  --dark-bg: #1a1a2e;
  --primary-accent: #00bcd4;
  --secondary-accent: #9d4edd;
  --light-text: #f0f0f0;
  --dark-text: #16213e;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-bg);
  color: var(--light-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

